.navbar {
    min-height: 80px;
}

a:link,
a:hover {
    text-decoration: underline;
}
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 27px;
        padding-bottom: 27px;
        line-height: 27px;
    }
}

#welcomeTxt {
    font-size: 60px;
    margin: 10% 30% 0 30%;
}

.navbar-brand,
.navbar-nav a {
    font-size: x-large;
}

.container {
    margin: 10% 20%;
}

.row {
    margin-bottom: 5%;
}