
.tg {
    padding-top: 150px;
    border-spacing: 30px;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 60px;
    padding: 10px 50px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: top
}

.myButton {
    -moz-box-shadow: 0px 0px 0px 0px #899599;
    -webkit-box-shadow: 0px 0px 0px 0px #899599;
    box-shadow: 0px 0px 0px 0px #899599;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
    background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    border:3px solid #ebe2eb;
    display:inline-block;
    cursor:pointer;
    color:#bf2230;
    font-family:Times New Roman;
    font-size:25px;
    padding:30px 75px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
    background-color:#bab1ba;
}
.myButton:active {
    position:relative;
    top:1px;
}
